*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.html {
    scroll-behavior: smooth;
}

body{
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 70px;
    background-color: #e9d5ec;
    box-shadow: 0 4px 10px rgba(0,0,0,0.08);
    position: sticky;
    top: 0;
    z-index: 100;
}  

.logo-image {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo-image img {
    width: 40px;
}

.logo-text {
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 1px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 25px;
}

.nav-links a {
    text-decoration: none;
    color: #333;
    font-size: 20px;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #ea468ddb;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 80px 100px;
    background-color: #f7f6fb;
}

.hero-content {
    max-width: 500%;
}

.hero-content h4 {
    letter-spacing: 2px;
    margin-bottom: 10px;
    color: #888;
}

.hero-content h1 {
    font-size: 50px;
    margin-bottom: 20px;
    color: #222;
    line-height: 1.2;
}

.hero-content p {
    font-size: 16px;
    line-height: 1.8;
    white-space: pre-line;
    color: #555;
}

.hero-image {
    width: 50%;
}

.hero-image img {
    width: 95%;
    border-radius: 15px;
    box-shadow: 0 10ox 25px rgba(0,0,0,0.15);
}

.btn {
    display: inline-block;
    padding: 14px 34px;
    background: linear-gradient(135deg, #23dcd9, #1bb8b5);
    color: #000;
    text-decoration: none;
    border-radius: 30px;
    font-size: 16px;
    font-weight: bold;
    margin-top: 25px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 8px 20px rgba(11, 130, 128, 0.796);
}

.cards-section {
    padding: 60px 80px;
    background-color: #e9d5ec;
    text-align: center;
}

.cards {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.card {
    width: 23%;
    background: #f7f6fb;
    padding: 20px;
    border-radius: 15px;
    transition: 0.3s;
}

.card img {
    width: 100%;
    border-radius: 10px;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 20px rgba(0,0,0,0.7);
}