*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family:Georgia, 'Times New Roman', Times, serif;
    background-color: #0f172a;
    color: #e5e7eb;
}

html {
    scroll-behavior: smooth;
}

section { 
    padding: 80px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;
    background-color: #0a192f;
    box-shadow: 0 4px 12px rgba(0,0,0,0.4);
    position: sticky;
    top: 0;
    z-index: 100;
}

.name {
    color: #e5e7eb;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 25px;
    color: #e5e7eb;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #0ae6f1f5;
}

.hero {
    height: 100vh;
    background-color: #13152a;
    display: flex;
    align-items: center;
}

.hero-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 120px;
    width: 100%;
    gap: 60px;
}

.hero-image img {
    width: 280px;
    height: 280px;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #0ae6f1;
}

.btn {
    display: inline-block;
    margin-top: 25px;
    padding: 12px 28px;
    background-color: #0ae6f1;
    color: #0a192f;
    text-decoration: none;
    border-radius: 30px;
    font-weight: bold;
    transition: 0.3s ease;
}

.btn:hover {
    background-color: #098289;
    transform: translateY(-3px);
}

.hero h1 {
    font-size: 48px;
    margin-bottom: 15px;
    color: #f8fafc;
}

.hero p {
    font-size: 18px;
    color: #9ca3af;
}

.section {
    padding: 80px 120px;
    text-align: center;
    background-color: #111827;
}

.section h2 {
    font-size: 32px;
    margin-bottom: 20px;
    color: #f8fafc;
}

.section p {
    max-width: 700px;
    margin: auto;
    font-size: 16px;
    color: #9ca3af;
}

.light {
    background: #f7f6fb;
}

.card-container {
    margin-top: 40px;
    display: flex;
    gap: 25px;
    justify-content: center;
    flex-wrap: wrap;
}

.section h2 {
    font-size: 32px;
    margin-bottom: 20px;
}

.section p {
    max-width: 700px;
    margin: auto;
    font-size: 16px;
}

.light {
    background: #f7f6fb;
}

.card-container {
    margin-top: 40px;
    display: flex;
    gap: 25px;
    justify-content: center;
    flex-wrap: wrap;
}

#about {
    background-color: #112240;
}

#about p {
  margin-top: 10px;   
  line-height: 1.6;  
  color: #a8b2d1;
  white-space: pre-line;
}

#about h2 {
    color: #64ffda;
}

#works {
    background-color: #0a192f;
}

#works h2 {
    color: #64ffda;
}

#blogs {
    background-color: #112240;
}

#blogs h2 {
    color: #64ffda;
}

#contacts {
    background-color: #0a192f;
}

#contacts h2 {
    color: #64ffda
}

#contacts p {
  margin-top: 10px;   
  line-height: 1.6;  
}

.blogs-section {
    padding: 60px 80px;
    background-color: #f7f6fb;
}

.blogs-section h2 {
    font-size: 36px;
    margin-bottom: 40px;
    text-align: center;
}

.blog-container {
    display: flex;
    gap: 30px;
    justify-content: center;
    flex-wrap: wrap;
}

.blog-card {
    background-color: #1e293b;
    color: #e5e7eb;
    width: 300px;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.4);
    transition: 0.3s;
}

.blog-card h3 {
    font-size: 20px;
    margin-bottom: 15px;
}

.blog-card p {
    font-size: 15px;
    line-height: 1.6;
    color: #9ca3af;
}

.blog-card:hover {
    transform: translateY(-6px);
    box-shadow: 0 15px 35px rgba(0,0,0,0.6);
}

.social-icons {
    margin-top: 25px;
    display: flex;
    gap: 20px;
    justify-content: center;
}

.social-icons a {
    width: 45px;
    height: 45px;
    background-color: #0a192f;
    border: 2px solid #0ae6f1;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0ae6f1;
    font-size: 18px;
    transition: 0.3s;
}

.social-icons a:hover {
    background-color: #0ae6f1;
    color: #0a192f;
    transform: translateY(-3px);
}
